<!-- what we do -->
<div class="what py-5" id="what">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 text-bl text-center font-weight-bold mb-sm-5 mb-4">About Us</h3>
    <div class="row pt-xl-4">
      <div class="col-lg-6 serv_bottom text-center mt-xl-3">
        <div class="row mt-xl-4">
          <div class="col-sm-6">
            <div class="bottom-gd">
              <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/wh1.jpg" alt="" class="img-fluid">
              <h3 class="my-3 font-weight-bold">House & Crate</h3>
              <p>Sit amet mattis quam, sit amet excepteur sint occaecat cupidatat.</p>
            </div>
          </div>
          <div class="col-sm-6 mt-sm-0 mt-4">
            <div class="bottom-gd">
              <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/wh2.jpg" alt="" class="img-fluid">
              <h3 class="my-3 font-weight-bold">Leash Training</h3>
              <p>Sit amet mattis quam, sit amet excepteur sint occaecat cupidatat.</p>
            </div>
          </div>
        </div>
        <div class="row mt-sm-5 mt-4 pt-xl-4">
          <div class="col-sm-6">
            <div class="bottom-gd">
              <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/wh3.jpg" alt="" class="img-fluid">
              <h3 class="my-3 font-weight-bold">Clicker Training</h3>
              <p>Sit amet mattis quam, sit amet excepteur sint occaecat cupidatat.</p>
            </div>
          </div>
          <div class="col-sm-6 mt-sm-0 mt-4">
            <div class="bottom-gd">
              <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/wh4.jpg" alt="" class="img-fluid">
              <h3 class="my-3 font-weight-bold">Basic Commands</h3>
              <p>Sit amet mattis quam, sit amet excepteur sint occaecat cupidatat.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 fetured-sec mt-lg-0 mt-sm-5 mt-4">
        <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/ab.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
<!-- //what we do -->

<!-- testimonials -->
<section class="testimonials py-5" id="testimonials">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 text-wh text-center font-weight-bold mb-sm-5 mb-4">Testimonials</h3>
    <div class="row pt-xl-4">
      <div class="col-md-4 test-grid px-lg-5">
        <div class="test-info text-center">
          <p class="text-li">"Sed ut perspiciatis unde omnis iste natus error sit volup tatem accus antium dolore tium.</p>
          <div class="test-img text-center mt-4">
            <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/te1.jpg" class="img-fluid" alt="user-image">
          </div>
          <h3 class="mt-md-4 mt-3">Paul Molive</h3>
        </div>
      </div>
      <div class="col-md-4 test-grid px-lg-5 my-md-0 my-5">
        <div class="test-info text-center">
          <p class="text-li">"Sed ut perspiciatis unde omnis iste natus error sit volup tatem accus antium dolore tium.</p>
          <div class="test-img text-center mt-4">
            <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/te2.jpg" class="img-fluid" alt="user-image">
          </div>
          <h3 class="mt-md-4 mt-3">Gail Forci</h3>
        </div>
      </div>
      <div class="col-md-4 test-grid px-lg-5">
        <div class="test-info text-center">
          <p class="text-li">"Sed ut perspiciatis unde omnis iste natus error sit volup tatem accus antium dolore tium.</p>
          <div class="test-img text-center mt-4">
            <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/te3.jpg" class="img-fluid" alt="user-image">
          </div>
          <h3 class="mt-md-4 mt-3">Anna Null</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //testimonials -->


<!-- team -->
<div class="team py-5" id="team">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 text-bl text-center font-weight-bold mb-sm-5 mb-4">Dog Trainers
    </h3>
    <div class="row team-bottom pt-4">
      <div class="col-lg-3 col-sm-6 team-grid">
        <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/t1.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Mark Henry</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
        <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/t3.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Ronda Lusi</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5">
        <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/t2.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>Brie Billa</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 team-grid  mt-lg-0 mt-5">
        <img src="https://raw.githubusercontent.com/darkin1994/web207-ass/master/src/assets/images/t4.jpg" class="img-fluid" alt="">
        <div class="caption">
          <div class="team-text">
            <h4>John Doe</h4>
          </div>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-facebook f1" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter f2" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

