<div class="main-top" id="home">
  <header>
    <div class="container-fluid">
      <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
        <!-- logo -->
        <div id="logo">
          <h1><a class="" routerLink="/Index">Dog Home</a></h1>
        </div>
        <!-- //logo -->

        <!-- nav -->
        <div class="nav_w3ls">
          <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
              <li><a routerLink="" class="active">Home</a></li>
              <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a routerLink="/About">About Us</a></li>
              <li><a routerLink="/Manager">Manager</a></li>
              <li class="mx-lg-4 mx-md-3 my-md-0 my-2">
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                </label>
                <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                <input type="checkbox" id="drop-2" />
                <ul>
                  <li><a href="/" class="drop-text">Blog</a></li>
                  <li><a href="/" class="drop-text">What We do</a></li>
                  <li><a href="/" class="drop-text">Testimonials</a></li>
                </ul>
              </li>
              <li><a routerLink="/Contact">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!-- //nav -->
      </div>
    </div>
  </header>
  <!-- banner -->
  <div class="banner_w3lspvt">
    <div class="csslider infinity" id="slider1">
      <input type="radio" name="slides" checked="checked" id="slides_1" />
      <input type="radio" name="slides" id="slides_2" />
      <input type="radio" name="slides" id="slides_3" />
      <input type="radio" name="slides" id="slides_4" />
      <ul class="banner_slide_bg">
        <li>
          <div class="container">
            <div class="w3ls_banner_txt text-center ml-auto pr-xl-0 pr-sm-4 pr-5">
              <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">How to Train Your Dog</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                rem aperiam eaque ipsa <br>quae ab illo.</p>
              <a routerLink="/About" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>

            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <div class="w3ls_banner_txt text-center ml-auto pr-xl-0 pr-sm-4 pr-5">
              <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Getting Started With Dog Training</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                rem aperiam eaque ipsa <br>quae ab illo.</p>
              <a routerLink="/About" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>

            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <div class="w3ls_banner_txt text-center ml-auto pr-xl-0 pr-sm-4 pr-5">
              <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">House Training and Crate Training</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                rem aperiam eaque ipsa <br>quae ab illo.</p>
              <a routerLink="/About" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>

            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <div class="w3ls_banner_txt text-center ml-auto pr-xl-0 pr-sm-4 pr-5">
              <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Leash Training Dogs and Puppies</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                rem aperiam eaque ipsa <br>quae ab illo.</p>
              <a routerLink="/About" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>

            </div>
          </div>
        </li>
      </ul>
      <div class="arrows">
        <label for="slides_1"></label>
        <label for="slides_2"></label>
        <label for="slides_3"></label>
        <label for="slides_4"></label>
      </div>
      <div class="navigation">
        <div>
          <label for="slides_1"></label>
          <label for="slides_2"></label>
          <label for="slides_3"></label>
          <label for="slides_4"></label>
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
</div>
<!-- //main banner -->
